<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-ssdp" version="0.0.2"
        xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>SSDP</name>
    <description>SSDP plugin</description>

    <js-module src="www/ssdp.js" name="SSDP">
        <clobbers target="cordova.plugins.ssdp"/>
    </js-module>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="SSDP">
                <param name="android-package" value="capital.spatium.plugin.ssdp.Ssdp"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.INTERNET"/>
        </config-file>
        <source-file src="src/android/capital/spatium/plugin/ssdp/Ssdp.java"
                     target-dir="src/capital/spatium/plugin/ssdp"/>
        <source-file src="src/android/capital/spatium/plugin/ssdp/SsdpChannel.java"
                     target-dir="src/capital/spatium/plugin/ssdp"/>
        <source-file src="src/android/capital/spatium/plugin/ssdp/SsdpCommonHeadersType.java"
                     target-dir="src/capital/spatium/plugin/ssdp"/>
        <source-file src="src/android/capital/spatium/plugin/ssdp/SsdpMessage.java"
                     target-dir="src/capital/spatium/plugin/ssdp"/>
        <source-file src="src/android/capital/spatium/plugin/ssdp/SsdpMessageType.java"
                     target-dir="src/capital/spatium/plugin/ssdp"/>
        <source-file src="src/android/capital/spatium/plugin/ssdp/SsdpNotificationType.java"
                     target-dir="src/capital/spatium/plugin/ssdp"/>
        <source-file src="src/android/capital/spatium/plugin/ssdp/Consumer.java"
                     target-dir="src/capital/spatium/plugin/ssdp"/>
        <source-file src="src/android/capital/spatium/plugin/ssdp/SsdpService.java"
                     target-dir="src/capital/spatium/plugin/ssdp"/>
        <source-file src="src/android/capital/spatium/plugin/ssdp/Device.java"
                     target-dir="src/capital/spatium/plugin/ssdp"/>
        <source-file src="src/android/capital/spatium/plugin/ssdp/network/NetworkChangeReceiver.java"
                     target-dir="src/capital/spatium/plugin/ssdp/network"/>
        <source-file src="src/android/capital/spatium/plugin/ssdp/network/WifiChangeStateReceiver.java"
                     target-dir="src/capital/spatium/plugin/ssdp/network"/>
        <source-file src="src/android/capital/spatium/plugin/ssdp/network/NetworkUtil.java"
                     target-dir="src/capital/spatium/plugin/ssdp/network"/>
    </platform>

    <platform name="windows">
        <config-file target="config.xml" parent="/*">
            <feature name="SSDP">
                <param name="windows-package" value="SSDP.SSDP"/>
                <Capability Name="internetClient"/>
                <Capability Name="internetClientServer"/>
                <Capability Name="privateNetworkClientServer"/>
                <Capability Name="wiFiControl"/>
            </feature>
        </config-file>
        <js-module src="src/windows/SsdpPluginProxy.js" name="SsdpPluginProxy">
            <merges target=""/>
        </js-module>

        <framework src="src/windows/native/SSDP/SSDP/SSDP.csproj" custom="true"
                   type="projectReference" versions="10.*"/>
    </platform>
     <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="SSDP">
                <param name="ios-package" value="SSDP"/>
            </feature>
        </config-file>
        <header-file src="src/ios/Reachability/Reachability.h" />
        <header-file src="src/ios/CocoaAsyncSocket/Source/GCD/GCDAsyncSocket.h" />
        <header-file src="src/ios/CocoaAsyncSocket/Source/GCD/GCDAsyncUdpSocket.h" />
        <header-file src="src/ios/CocoaSSDP-master/Classes/SSDPService.h" />
        <header-file src="src/ios/CocoaSSDP-master/Classes/SSDPServiceBrowser.h" />
        <header-file src="src/ios/CocoaSSDP-master/Classes/SSDPServiceTypes.h" />
        <header-file src="src/ios/SSDP.h" />
        <header-file src="src/ios/SSDPMessage.h" />
        <header-file src="src/ios/SMTWiFiStatus.h" />
        <source-file src="src/ios/Reachability/Reachability.m" />
        <source-file src="src/ios/CocoaAsyncSocket/Source/GCD/GCDAsyncSocket.m" />
        <source-file src="src/ios/CocoaAsyncSocket/Source/GCD/GCDAsyncUdpSocket.m" />
        <source-file src="src/ios/CocoaSSDP-master/Classes/SSDPService.m" />
        <source-file src="src/ios/CocoaSSDP-master/Classes/SSDPServiceBrowser.m" />
        <source-file src="src/ios/CocoaSSDP-master/Classes/SSDPServiceTypes.m" />
        <source-file src="src/ios/SSDP.m" />
        <source-file src="src/ios/SSDPMessage.m" />
        <source-file src="src/ios/SMTWiFiStatus.m" />

        <config-file parent="com.apple.developer.networking.wifi-info" target="*/Entitlements-Debug.plist">
            <true/>
        </config-file>
        <config-file parent="com.apple.developer.networking.wifi-info" target="*/Entitlements-Release.plist">
            <true/>
        </config-file>
    </platform>
</plugin>
