<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-ssdp" version="0.0.1"
        xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>SSDP</name>
    <description>SSDP plugin</description>

    <js-module src="www/ssdp.js" name="SSDP">
        <clobbers target="cordova.plugins.ssdp"/>
    </js-module>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="SSDP">
                <param name="android-package" value="capital.spatium.plugin.ssdp.Ssdp"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.INTERNET"/>
        </config-file>
        <source-file src="src/android/capital/spatium/plugin/ssdp/Ssdp.java"
                     target-dir="src/capital/spatium/plugin/ssdp"/>
        <source-file src="src/android/capital/spatium/plugin/ssdp/SsdpChannel.java"
                     target-dir="src/capital/spatium/plugin/ssdp"/>
        <source-file src="src/android/capital/spatium/plugin/ssdp/SsdpCommonHeadersType.java"
                     target-dir="src/capital/spatium/plugin/ssdp"/>
        <source-file src="src/android/capital/spatium/plugin/ssdp/SsdpMessage.java"
                     target-dir="src/capital/spatium/plugin/ssdp"/>
        <source-file src="src/android/capital/spatium/plugin/ssdp/SsdpMessageType.java"
                     target-dir="src/capital/spatium/plugin/ssdp"/>
        <source-file src="src/android/capital/spatium/plugin/ssdp/SsdpNotificationType.java"
                     target-dir="src/capital/spatium/plugin/ssdp"/>
        <source-file src="src/android/capital/spatium/plugin/ssdp/Consumer.java"
                     target-dir="src/capital/spatium/plugin/ssdp"/>
        <source-file src="src/android/capital/spatium/plugin/ssdp/SsdpService.java"
                     target-dir="src/capital/spatium/plugin/ssdp"/>
        <source-file src="src/android/capital/spatium/plugin/ssdp/Device.java"
                     target-dir="src/capital/spatium/plugin/ssdp"/>
        <source-file
                src="src/android/capital/spatium/plugin/ssdp/network/NetworkChangeReceiver.java"
                target-dir="src/capital/spatium/plugin/ssdp/network"/>
        <source-file src="src/android/capital/spatium/plugin/ssdp/network/NetworkUtil.java"
                     target-dir="src/capital/spatium/plugin/ssdp/network"/>
    </platform>

    <platform name="windows">
        <config-file target="config.xml" parent="/*">
            <feature name="SSDP">
                <param name="windows-package" value="SSDP.SSDP"/>
                <Capability Name="internetClient"/>
                <Capability Name="internetClientServer"/>
                <Capability Name="privateNetworkClientServer"/>
            </feature>
        </config-file>
        <js-module src="src/windows/SsdpPluginProxy.js" name="SsdpPluginProxy">
            <merges target=""/>
        </js-module>

        <framework src="src/windows/native/SSDP/SSDP/SSDP.csproj" custom="true"
                   type="projectReference" versions="10.*"/>
    </platform>
</plugin>
