<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-ssdp" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>SSDP</name>
    <description>SSDP plugin</description>
    <js-module name="ssdp" src="www/ssdp.js">
        <clobbers target="cordova.plugins.ssdp" />
    </js-module>
    <platform name="android">
      <config-file target="config.xml" parent="/*">
        <feature name="Ssdp">
          <param name="android-package" value="capital.spatium.plugin.ssdp.Ssdp" />
        </feature>
      </config-file>

      <config-file target="AndroidManifest.xml" parent="/*">
        <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        <uses-permission android:name="android.permission.INTERNET" />
      </config-file>
      <source-file src="src/android/capital/spatium/plugin/ssdp/Ssdp.java" target-dir="src/capital/spatium/plugin/ssdp" />
    </platform>
</plugin>
